# ===============================
# Maven
# ===============================
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# ===============================
# Java
# ===============================
*.class
*.log

# ===============================
# IDE Files
# ===============================
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Spring Boot
# ===============================
application.properties
application.yml
application-*.properties
application-*.yml

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Environment
# ===============================
.env
.env.*

# ===============================
# Build
# ===============================
build/

# ===============================
# Kafka / temp
# ===============================
tmp/
*.tmp